function FlappyBirdGame.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 63
pop this 1
push constant 128
push constant 0
push constant 384
push constant 63
call Screen.drawRectangle 4
pop temp 0
push constant 128
push constant 192
push constant 384
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 128
call Bird.new 1
pop this 0
push pointer 0
return
function FlappyBirdGame.run 2
push argument 0
pop pointer 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 32
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Bird.moveUp 1
pop temp 0
label IF_FALSE0
push local 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Bird.moveDown 1
pop temp 0
label IF_FALSE1
push this 0
call Bird.getY 1
pop local 1
push local 1
push this 1
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call FlappyBirdGame.endGame 1
pop temp 0
label IF_FALSE2
push this 2
push constant 1
add
pop this 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function FlappyBirdGame.endGame 0
push argument 0
pop pointer 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function FlappyBirdGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Bird.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
